
.pagination {
    margin-top: 10px;
  }
  .pagination button {
    background-color: #027bf4;
    border: none;
    color: #fff;
    border-radius: 20px;
    padding: 10px 30px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 10px;
  }
  